.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: #f7efd9;
}

.toppingsInventory {
  margin-bottom: 10px;
}

.toppingsListBlock {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toppingsList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

/* .toppingsListActionBtns {
  margin: 0 15px 0 15px;
} */
